<html>
    <head>
        <title>Ma5termind's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ma5termind's blog</a></h1>
        </div>
        {% for post in posts %}
        	<div>
        		<h1><a href="">{{ post.title }}</a></h1>
        	</div>

        	<h3> Description </h3>
        	<pre>{{ post.content }}</pre>
        	
        	<h3> Time Complexity </h3>
        	<p>{{ post.time_complexity }}</p>

        	<h3> Space Complexity </h3>
        	<p>{{ post.space_complexity }}</p>

        	<h3>Published Date </h3>
        	<p> {{ post.published_date }}</p>
        	
        	<h3> Author </h3>
        	<p>{{ post.author }}</p>
        
        {% endfor %}
    </body>
</html>